@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor {
    margin: 0 auto;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    width: 100%;
    max-width: 1450px;
}

.propiedad-info {
    h2 {
        color: v.$arenaclaro;
        font-size: 2rem;
        text-align: left;
        font-family: v.$secundaria;
        font-weight: v.$bold;
        text-transform: uppercase;

        @include m.tablet {
            font-size: 2.6rem;
        }

        @include m.desktop {
            font-size: 3.6rem;
            text-align: left;
        }
    }
}

.padre {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;

    @include m.tablet {
        flex-direction: column;
    }

    @include m.desktop {
        flex-direction: row;
    }



    .informacion-propiedad {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 2rem;
        width: 35rem;
        height: 100%;

        @include m.tablet {
            width: 70rem;
            margin: 0 auto;
        }

        @include m.desktop {
            width: 80rem;
            margin: 0 2rem;
        }

        
        .galeria-principal,
        .galeria-principal-modal {
            width: 35rem;
            height: 35rem;
            border-radius: 1.5rem;
            overflow: hidden;
            margin-bottom: 1rem;

            @include m.tablet {
                width: 70rem;
                height: 40rem;
            }

            @include m.desktop {
                width: 80rem;
                height: 50rem;
            }

            .swiper-wrapper {
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                width: 100% !important;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1.5rem;
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                color: #fff;
                filter: drop-shadow(0 0 4px #000);
            }
        }

        .galeria-miniaturas {
            margin-bottom: 1rem;
            width: 35rem;

            @include m.tablet {
                width: 70rem;
            }

            @include m.desktop {
                width: 80rem;
            }
        }

        .galeria-miniaturas-modal {
            width: 34rem;

            @include m.tablet {
                width: 70rem;
            }

            @include m.desktop {
                width: 100rem;
            }
        }

        .galeria-miniaturas,
        .galeria-miniaturas-modal {
            height: 7.5rem;

            @include m.tablet {
                height: 9rem;
            }

            @include m.desktop {
                height: 12rem;
            }


            .swiper-slide {
                 width: auto !important;
                height: auto;
                opacity: 0.5;
                cursor: pointer;

                img {
                    height: 7.5rem;
                    width: 7.5rem;
                    object-fit: cover;
                    border-radius: 2rem;
                    margin: 0 auto;

                    @include m.tablet {
                        height: 9rem;
                        width: 9rem;
                    }

                    @include m.desktop {
                        height: 120px;
                        width: 120px;
                    }
                }
            }

            .swiper-slide-thumb-active {
                opacity: 1;
            }
        }

        .galeria-modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(v.$grisgrafito, 0.6); // Fondo semitransparente
            backdrop-filter: blur(10px);               // Difumina lo que está detrás
            -webkit-backdrop-filter: blur(10px);       // Compatibilidad con Safari
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;

            .galeria-principal-modal {
                width: 34rem;
                height: 40rem;

                @include m.tablet {
                    width: 70rem;
                    height: 60rem;
                }

                @include m.desktop {
                    width: 100rem;
                    height: 60rem;
                }
            }
        }

        .oculto {
            display: none;
        }

        .galeria-contenido {
            position: relative;
            width: 1200px;
            max-width: 1200px;
            max-height: 95vh;
            background-color: transparent; // Solo funciona si es un hex string
            border-radius: 2rem;
            padding: 2rem;
        }

        .cerrar-modal {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 5rem;
            color: v.$arenaclaro;
            cursor: pointer;
            z-index: 1001;
        }

        .precio {
            width: 100%;
            height: auto;
            background-color: transparent;
            border: solid 2px v.$arenaclaro;
            border-radius: 2rem;
            margin: 1rem auto;
            padding: 0 1.5rem;

            h3 {
                text-align: left;
                margin: 0;
                font-size: 2.4rem;
                font-family: v.$texto;
                font-weight: v.$bold;
                color: v.$arenaclaro;
                height: 3.2rem;

                @include m.tablet {
                    font-size: 3.2rem;
                    height: 4rem;
                }

                @include m.desktop {
                    font-size: 4rem;
                    height: 5.5rem;
                }
            }

            p {
                margin: 0;
                font-size: 1.6rem;
                color: v.$arenaclaro;
                font-family: v.$texto;
                font-weight: v.$regular;

                @include m.tablet {
                    font-size: 1.8rem;
                }

                @include m.desktop {
                    font-size: 2rem;
                }
            }

            .ubi {
                color: v.$rojotierra;
                margin: .5rem 0;
                font-size: 2rem;

                @include m.tablet {
                    font-size: 2.2rem;
                }

                @include m.desktop {
                    font-size: 2.4rem;
                }
            }
        }

        .caracteristicas-propiedad {
            display: flex;
            flex-direction: column;
            padding-bottom: 1.5rem;

            h4 {
                margin: 0;
                color: v.$arenaclaro;
                font-size: 2.4rem;
                font-family: v.$texto;
                font-weight: v.$regular;
                text-align: left;

                @include m.tablet {
                    font-size: 3rem;
                }

                @include m.desktop {
                    font-size: 3.2rem;
                }
            }

            .carac {
                display: flex;
                margin: 1rem 0;

                img {
                    width: 25px;
                    height: 25px;
                    margin-right: 1rem;

                    @include m.tablet {
                        width: 35px;
                        height: 35px;
                    }

                    @include m.desktop {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        .descripcion {
            padding-bottom: 1.5rem;
            h4 {
                margin: 0;
                color: v.$arenaclaro;
                font-size: 2.4rem;
                font-family: v.$texto;
                font-weight: v.$regular;
                text-align: left;

                @include m.tablet {
                    font-size: 3rem;
                }

                @include m.desktop {
                    font-size: 3.2rem;
                }
            }

            p {
                color: v.$arenaclaro;
                font-size: 1.8rem;
                line-height: 1.5;
                font-family: v.$texto;
                font-weight: v.$regular;
                text-align: justify;

                @include m.tablet {
                    font-size: 2rem;
                }

                @include m.desktop {
                    font-size: 2.2rem;
                }
            }

            iframe {
                width: 100%;
                height: 25rem;
                border: none;
                margin: 0;
                border-radius: 2rem;

                @include m.tablet {
                    height: 30rem;
                }

                @include m.desktop {
                    height: 35rem;
                }
            }
        }

        a {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            background-color: v.$verdepastel;
            border: solid 5px v.$verdeesmeralda;
            text-decoration: none;
            color: v.$arenaclaro;
            font-size: 1.4rem;
            font-family: v.$secundaria;
            font-weight: v.$regular;
            border-radius: 2rem;
            transition: ease .5s;
            

            @include m.tablet {
                font-size: 1.8rem;
            }

            @include m.desktop {
                font-size: 2rem;
            }

            &:hover {
                background-color: color-mix(in srgb, v.$verdepastel 85%, v.$negrocarbon);
                transition: ease .5s;
                transform: scale(1.03);
            }

            img {
                width: 3rem;
                height: 3rem;
                margin-right: 1rem;

                @include m.tablet {
                    width: 3.5rem;
                    height: 3.5rem;
                }

                @include m.desktop {
                    width: 5rem;
                    height: 5rem;
                }
            }
        }
    }

    .cardpropiedad {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35rem;
        height: auto;
        margin:  0 auto;

        @include m.tablet {
            display: grid;
            grid-template-columns: repeat(2,1fr);


        }

        @include m.desktop {
            display: flex;
            flex-direction: column;
        }
        

        @include m.desktop {
            width: 100%;
            margin-left: 4rem;
        }

        h2 {
            text-align: center;
            color: v.$rojotierra;
            font-size: 2rem;
            font-family: v.$texto;
            font-weight: v.$bold;
            text-transform: uppercase;
            margin: 0;
            margin-top: 2rem;

            @include m.tablet {
                font-size: 2.2rem;
                grid-column: 1 / 3;
            }

            @include m.desktop {
                font-size: 2.6rem;
                margin: 0;
            }
        }
    }
}
